---
const {
    
 
  } = Astro.props;

  
  
---
  
    <body class={`flex flex-col overflow-x-hidden min-h-screen`}>
      
      <main class="">
        <slot />
      </main>
     
      <!-- <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script> -->
    </body>
  